<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h1 class="page-title">Student Detials</h1>
      <form [formGroup]="loginForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 class="form-control"
                 formControlName="name">
        </div>
        <div class="form-group">
          <label for="fname">Father Name</label>
          <input type="text"
                 class="form-control"
                 formControlName="fname">
        </div>
        <div class="form-group">
          <label for="mname">Mother Name</label>
          <input type="text"
                 class="form-control"
                 formControlName="mname">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="number"
                 class="form-control"
                 formControlName="age">
        </div>
        <div class="form-group">
          <label for="class">Class</label>
          <input type="text"
                 class="form-control"
                 formControlName="class">
        </div>
<!--         

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email"
                 class="form-control"
                 formControlName="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password"
                 class="form-control"
                 formControlName ="password">
        </div> -->
        
        <button
        [disabled]="!loginForm.valid"
        type="submit" 
        class="btn btn-warning" (click)="submit()"
        >Add Student</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 ">
      <nav>
        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-stude" aria-selected="true">Student</a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Father</a>
          <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Mother</a>
          <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Guardian</a>
        </div>
      </nav>
      <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
        </div>
        <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
          Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
        </div>
      </div>
    
    </div>
  </div>
</div>


<table class="table">
  <thead>
    <tr>
      <th >Name</th>
      <th >Father Name</th>
      <th >Mother Name</th>
      <th >Age</th>
      <th >Class</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let arr of login">
      <td>{{arr.name}}</td>
      <td>{{arr.fname}}</td>
      <td>{{arr.mname}}</td>
      <td>{{arr.age}}</td>
      <td>{{arr.class}}</td>    
    </tr>

  </tbody>
</table>
<router-outlet></router-outlet>